release/ftelnet.combined.js
release/ftelnet.3rdparty.debug.js
release/ftelnet.client.debug.js
release/ftelnet.debug.js
release/ftelnet.filetransfer.debug.js
release/index.debug.html
release/keyboard/*.css.map
release/*.d.ts
release/*.js.map

packages/

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

.vs/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
