release/keyboard/*.css.map
release/Blob.js
release/FileSaver.js
release/*.js.map

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
