#fTelnetFocusWarning {
    background-color: red;
    color: white;
    font: 16px "Courier New", Courier, monospace;
    margin: auto;
    padding: 5px 0;
}

#fTelnetScrollback {
    background-color: red;
    color: white;
    font: 16px "Courier New", Courier, monospace;
    margin: auto;
    padding: 5px 0;
}

    #fTelnetScrollback a {
        color: white;
        text-decoration: none;
    }

#fTelnetButtons {
    background-color: green;
    color: white;
    font: 16px "Courier New", Courier, monospace;
    margin: auto;
    padding: 5px 0;
}

    #fTelnetButtons a {
        color: white;
        text-decoration: none;
    }

#fTelnetStatusBar {
    background-color: blue;
    color: white;
    font: 16px "Courier New", Courier, monospace;
    margin: auto;
    padding: 5px 0;
}