.fTelnetContainer {
    box-sizing: content-box;
    margin: auto;
}

    .fTelnetContainer .fTelnetButtons,
    .fTelnetContainer .fTelnetScrollback,
    .fTelnetContainer .fTelnetFocusWarning,
    .fTelnetContainer .fTelnetClientContainer,
    .fTelnetContainer .fTelnetStatusBar {
        box-sizing: content-box;
    }

    .fTelnetContainer canvas {
        display: block;
        margin: auto;
    }

.fTelnetClientContainer {
    border: 1px solid black;
    position: relative;
    margin: auto;
}

.fTelnetConnectButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font: 14px Arial, Helvetica, sans-serif;
    margin-right: 10px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.fTelnetCrtCanvas {
    cursor: text;
    display: block;
    margin: auto;
}

.fTelnetFocusWarning {
    background-color: red;
    border: 1px solid red;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.fTelnetMenuButton {
    background-color: white;
    border: 1px solid #666;
    border-radius: 5px;
    color: black;
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.fTelnetMenuButtons {
    background-color: white;
    border: 1px solid #666;
    color: black;
    margin-right: 10px;
    padding: 8px 12px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

    .fTelnetMenuButtons a {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        display: block;
        font: 14px Arial, Helvetica, sans-serif;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
    }

    .fTelnetMenuButtons select {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        display: block;
        font: 14px Arial, Helvetica, sans-serif;
        padding: 8px 12px;
        width: 100%;
    }

    .fTelnetMenuButtons table {
        background-color: white;
    }

    .fTelnetMenuButtons td {
        padding: 2px;
    }

.fTelnetScrollback {
    background-color: green;
    border: 1px solid green;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
}

    .fTelnetScrollback a {
        color: white;
        padding: 0 5px;
        text-decoration: none;
    }

.fTelnetStatusBar {
    background-color: blue;
    border: 1px solid blue;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: left;
}
