#fTelnetContainer {
    box-sizing: content-box;
    margin: auto;
}

    #fTelnetContainer #fTelnetButtons,
    #fTelnetContainer #fTelnetScrollback,
    #fTelnetContainer #fTelnetFocusWarning,
    #fTelnetContainer #fTelnetClientContainer,
    #fTelnetContainer #fTelnetStatusBar {
        box-sizing: content-box;
    }

    #fTelnetContainer canvas {
        display: block;
        margin: auto;
    }

#fTelnetButtons {
    background-color: green;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
}

    #fTelnetButtons a {
        color: white;
        text-decoration: none;
    }

#fTelnetClientContainer {
    position: relative;
    margin: auto;
}

#fTelnetFocusWarning {
    background-color: red;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
}

#fTelnetScrollback {
    background-color: green;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
    text-align: center;
}

    #fTelnetScrollback a {
        color: white;
        text-decoration: none;
    }

#fTelnetStatusBar {
    background-color: blue;
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
}
