.fTelnetKeyboardWrapper {
  width: 100%;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 177px;
  width: 320px;
  margin: auto;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard ::selection {
  background-color: none;
  color: inherit;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow > :first-child {
  margin-left: 0 !important;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKey {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 9px sans-serif;
  float: left;
  height: 30px;
  line-height: 13px;
  margin: 1px 0 0 1px;
  padding: 2px 0 0 3px;
  transition: background-color 0.2s ease;
  width: 20px;
  text-align: left;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKey:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowDown {
  background-image: url("img/down-key.png");
  background-position: 4px 3px;
  background-repeat: no-repeat;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowLeft {
  background-image: url("img/left-key.png");
  background-position: 4px 3px;
  background-repeat: no-repeat;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowRight {
  background-image: url("img/right-key.png");
  background-position: 4px 3px;
  background-repeat: no-repeat;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowUp {
  background-image: url("img/up-key.png");
  background-position: 4px 3px;
  background-repeat: no-repeat;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyBackslash {
  width: 34px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyBackspace {
  background-image: url("img/backspace-key.png");
  background-position: 3px 15px;
  background-repeat: no-repeat;
  width: 47px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyCapsLock {
  width: 37px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyEnter {
  background-image: url("img/enter-key.png");
  background-position: 3px 15px;
  background-repeat: no-repeat;
  width: 51px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyShiftLeft {
  background-image: url("img/shift-key.png");
  background-position: 3px 15px;
  background-repeat: no-repeat;
  width: 47px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeySpacebar {
  width: 173px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyTab {
  background-image: url("img/tab-key.png");
  background-position: 3px 15px;
  background-repeat: no-repeat;
  width: 33px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKey {
  height: 22px;
  margin-top: 0;
  width: 17px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKeyEscape {
  width: 20px;
}
.fTelnetKeyboardWrapper .fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKeyHomeEndInsertDelete {
  width: 20px;
}
