#fTelnetKeyboard {
  background-color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 239px;
  width: 640px;
  margin: auto;
}
#fTelnetKeyboard * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#fTelnetKeyboard ::selection {
  background-color: none;
  color: inherit;
}
#fTelnetKeyboard ::-moz-selection {
  background-color: none;
  color: inherit;
}
#fTelnetKeyboard .fTelnetKeyboardRow > :first-child {
  margin-left: 0 !important;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKey {
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
  color: #eee;
  font: normal 14px sans-serif;
  float: left;
  height: 39px;
  line-height: 18px;
  margin: 1px 0 0 1px;
  padding: 2px 0 0 5px;
  transition: background-color 0.2s ease;
  width: 39px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKey:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  z-index: 1000;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyAppMenu {
  background-image: url("img/appmenu-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowDown {
  background-image: url("img/down-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowLeft {
  background-image: url("img/left-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowRight {
  background-image: url("img/right-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyArrowUp {
  background-image: url("img/up-key.png");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyBackslash {
  width: 60px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyBackspace {
  background-image: url("img/backspace-key.png");
  background-position: 5px 20px;
  background-repeat: no-repeat;
  width: 80px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyCapsLock {
  width: 68px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyCtrl {
  width: 50px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyEnter {
  background-image: url("img/enter-key.png");
  background-position: 5px 20px;
  background-repeat: no-repeat;
  width: 91px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyShiftLeft {
  background-image: url("img/shift-key.png");
  background-position: 5px 20px;
  background-repeat: no-repeat;
  width: 90px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyShiftRight {
  background-image: url("img/shift-key.png");
  background-position: 5px 20px;
  background-repeat: no-repeat;
  width: 69px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeySpacebar {
  width: 258px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyTab {
  background-image: url("img/tab-key.png");
  background-position: 5px 20px;
  background-repeat: no-repeat;
  width: 59px;
}
#fTelnetKeyboard .fTelnetKeyboardRow .fTelnetKeyboardKeyWin {
  background-image: url("img/windows-key.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKey {
  height: 39px;
  margin-top: 0;
  width: 36px;
}
#fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKeyEscape {
  width: 40px;
}
#fTelnetKeyboard .fTelnetKeyboardRowFunction .fTelnetKeyboardKeySPID {
  width: 38px;
}
/*# sourceMappingURL=keyboard-640.css.map */